

    <div class="row">

        
     <div class="img col-lg-4">
         <h2>Welcome to Plan my trip</h2>
         <br/><br><br><br>
        <img src="../assets/images/Flights.jpeg" height="450px" width="350px" style="border-radius: 6px;" alt="hariom" >
     </div>

        <div class="col-lg-8">
            <h1>About This Application</h1>
            <hr/>
            <p class="lead  mb-0">It's an Angular and Springboot based E-ticket Booking Crud Application.</p>

    
            <div class="panel panel-danger">
                <div class="panel-body" style="background-color: khaki;"></div>
    
            </div>

    

        </div>

    
         

